<%- include('../partials/navbar') %>

    <title>Edit Book</title>

<center>
    <h1>Edit <%= bookFound.title %></h1>

    <br/>

    <div class="edit-part">
        <form action="/books/<%= bookFound._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <label>Title: </label>
            <br/>
            <input type="text" name="title" value="<%= bookFound.title %>"/>

            <br/>

            <label>Author: </label>
            <br/>
            <input type="text" name="author" value="<%= bookFound.author %>"/>

            <br/>

            <label>Pages: </label>
            <br/>
            <input type="number" name="pages" min="0" value="<%= bookFound.pages %>"/>

            <br/>

            <label>Genre: </label>
            <br/>
            <select name="genre" id="genre">
                <option value="Classic Literature">Classic Literature</option>
                <option value="Contemporary">Contemporary</option>
                <option value="Fantasy"> Fantasy</option>
                <option value="Mystery Thriller"> Mystery & Thriller</option>
                <option value="Science Fiction"> Science Fiction</option>
                <option value="Non Fiction"> Non-Fiction </option>
            </select>

            <br/>

            <label>Reading Status: </label>
            <br/>
            <select name="readingStatus" id="readingStatus">
                <option value="Currently Reading"
                    <% if(bookFound.readingStatus === 'Currently Reading') { %> selected <% } %> >
                    Currently Reading
                </option>

                <option value="Done Reading"
                <% if(bookFound.readingStatus === 'Done Reading') { %> selected <% } %> >
                    Done Reading
                </option>

                <option value="To Be Read"
                <% if(bookFound.readingStatus === 'To Be Read') { %> selected <% } %> >
                    To Be Read</option>
            </select>

            <br/>

            <label>Image: </label>
            <br/>
            <input type="file" name="image" accept="image/jpeg,image/png" />

            <br/>
            <br/>

            <button type="submit" class="updateBtn">Update Book</button>
        </form>
    </div>
</center>   
</body>
</html>