<%- include('../partials/navbar') %>

    <title>Books</title>

    <h1 class="centering">My Books</h1>

    <form action="/books" method="post" class="centering">
        <select name="status" id="status">
            <option value="everyBook">All Books</option>
            <option value="Currently Reading"
                <% if(selectReadingStatus === 'Currently Reading') { %> selected <% } %> >
                Currently Reading
            </option>

            <option value="Done Reading"
                <% if(selectReadingStatus === 'Done Reading') { %> selected <% } %> >
                Done Reading
            </option>

            <option value="To Be Read"
                <% if(selectReadingStatus === 'To Be Read') { %> selected <% } %> >
                To Be Read
            </option>

        </select>
        <button type="submit">Filter</button>
    </form>

    <form action="/search" method="get">
        <center><input type="text" name="title" class="title-search" placeholder="Search By Title">
        <button type="submit">Search</button></center>
    </form>

    <a href="/books/new" class="centering">Add New Book</a>
    
    <% if(allBooks.length === 0) { %>
        <p class="centering">You don't have any books!</p>
    <% } else { %>
        <ul>
            <div class="book-section">
                <% allBooks.forEach((book) => { %>
                    <a href="/books/<%= book._id %>">
                            <div class="book-card">
                                <a href='/books/<%= book._id %>'><img src='<%= book.image.url %>' width="100" alt="book image">
                                    <p> <%= book.title %></p>
                                </a>
                            </div>
                    </a>
                <% }) %>
            </div>
        </ul>
    <% } %>
</body>
</html>