<%- include('../partials/navbar') %>

    <h1><%= bookFound.title %></h1>
    <img src="<%= bookFound.image.url %>" width="100">
    <p>Author: <%= bookFound.author %></p>
    <p>Pages: <%= bookFound.pages %></p>
    <p>Reading Status: <%= bookFound.readingStatus %></p>
    
</body>
</html>