<%- include('../partials/navbar') %>
<center>
    <h1><%= bookFound.title %></h1>
    <img src="<%= bookFound.image.url %>" width="100" class="book-img">
    <p>Author: <%= bookFound.author %></p>
    <p>Pages: <%= bookFound.pages %></p>
    <p>Reading Status: <%= bookFound.readingStatus %></p>
    
    <!--edit-->
    <a href="/books/<%= bookFound._id %>/edit">
        <button type="submit">Edit <%= bookFound.title %></button>
    </a>

    <!--delete-->
    <form action="/books/<%= bookFound._id %>?_method=DELETE" method="post">
        <button type="submit">Remove <%= bookFound.title %></button>
    </form>

    <!--fave-->
    <% if (bookFound.favoriteByUser && bookFound.favoriteByUser.includes(req.session.user._id)) { %>
        <p class="centering">Book is already added to favorites!</p>
    <% } else { %>
        <form action="/books/<%= bookFound._id %>/favorites" method="post">
            <button type="submit">Add to Favorites!</button>
        </form>
    <% } %>

    <% if (bookFound.readingStatus === 'Done Reading') { %>
        <section id="reviewSection">
            <div>
                <p>Add Review:</p>
                <form action="/books/<%= bookFound._id %>/reviews" method="post">
                    <label>Rating:</label>
                    <select name="rating" id="rating" required>
                        <option value="five">⭐⭐⭐⭐⭐</option>
                        <option value="four">⭐⭐⭐⭐</option>
                        <option value="three">⭐⭐⭐</option>
                        <option value="two">⭐⭐</option>
                        <option value="one">⭐</option>
                    </select>
                    <br>
                    <br>
                    <textarea name="comment" id="comment" rows="3" required></textarea>
                    <br>
                    <button type="submit">Post Review</button>
                </form>
            </div>
        </section>
    <% } %>
</center>
</body>
</html>