<%- include('../partials/navbar') %>

    <h1><%= bookFound.title %></h1>
    <img src="<%= bookFound.image.url %>" width="100">
    <p>Author: <%= bookFound.author %></p>
    <p>Pages: <%= bookFound.pages %></p>
    <p>Reading Status: <%= bookFound.readingStatus %></p>
    
    <a href="/books/<%= bookFound._id %>/edit">
        <button type="submit">Edit <%= bookFound.title %></button>
    </a>

    <form action="/books/<%= bookFound._id %>?_method=DELETE" method="post">
        <button type="submit">Remove <%= bookFound.title %></button>
    </form>
    
</body>
</html>